@charset "UTF-8";

@media (max-width: 600px) {
    
    body {
      background-color: lightgray;
      overflow: hidden;
    }

    .imgg{
        display: none;
    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .ja {
    transform: none;
    margin: 10px;
    width: 250px;
  }

  .forma {
    display: block;
    margin-bottom: 10px; /* espaçamento entre eles */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  
}

@media (min-width: 1441) {

}