@charset "UTF-8";

body, html {
    margin: 0px;
    overflow: hidden;
}

@keyframes mover {
    0% {transform: translateX(-600px); }
    100% {transform: translateX(0px); }
}

.imgg {
    height: 95vh;
    width: 50vw;
    animation-name: mover;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    border-radius: 40%;
}

form {
    background-color: black;
    padding: 10px;
    width: 500px;
    height: 100vh;
    
    transform: translate(850px, -650px);
}

.ja {
    transform: translateY(300px);
    width: 80%;
}